# Copyright (c) 2020 dELLIKEEb
# SPDX-License-Identifier: MIT

# Minimal defconfig so this unused shield does not break other builds.
if SHIELD_NAAN_REV2

config ZMK_KEYBOARD_NAME
	default "NaaN rev2"

endif
